{% extends 'base.html' %}

{% block content %}
    <div class="title">
    <h1 style="color:#cf6b6d;direction:ltr;font-family:Georgia, Times, 'Times New Roman', serif;font-size:38px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:550;margin-bottom:550;padding-top: 100;"></h1style><span class="tinyMce-placeholder">{% block title %} Er jeg vinterbader? {% endblock %}</span></h1>
    </div>
        <div class='temp'>
            <div class="font-color-red">
                <div class="font-size-30">
                    <i><p>Hej {{ users[0] }}</p></i>
                    <h3>Vandet er {{ users[2] }} grader ved {{ users[1] }}</h3>
                    <p>I dag kan du <u>{{ users[3] }}</u> kalde dig vinterbader</p>
                </div>
            </div>
        </div>  
{% endblock %}


